USE [master]
GO
/****** Object:  Database [TKViecLam]    Script Date: 5/24/2023 3:14:42 PM ******/
CREATE DATABASE [TKViecLam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TKViecLam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TKViecLam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TKViecLam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TKViecLam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TKViecLam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TKViecLam]
GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [ntext] NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[EMAILLH] [nvarchar](70) NOT NULL,
	[LOAICV] [nvarchar](70) NOT NULL,
	[SDTLH] [nvarchar](12) NOT NULL,
	[LUOTXEM] [int] NOT NULL,
	[IDND] [int] NOT NULL,
	[IDTT] [int] NOT NULL,
	[MUCLUONG] [money] NOT NULL,
	[VITRI] [nvarchar](70) NOT NULL,
	[IDNGANH] [int] NULL,
	[IDTRINHDO] [int] NULL,
	[SOLUONGTUYEN] [int] NOT NULL,
	[NAMKINHNGHIEM] [int] NOT NULL,
	[KHUVUC] [nvarchar](70) NOT NULL,
	[TENCT] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HO_SO_ND]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HO_SO_ND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNGMOTA] [ntext] NULL,
	[IDND] [int] NOT NULL,
	[IDNGANH] [int] NULL,
	[IDTRINHDO] [int] NULL,
 CONSTRAINT [PK_HO_SO_ND] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](70) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](20) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](70) NOT NULL,
	[SDT] [nvarchar](12) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](150) NOT NULL,
	[IDND] [int] NOT NULL,
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIBV]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIBV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTRANGTHAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TRANGTHAIBV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRINHDO]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](70) NULL,
 CONSTRAINT [PK_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNGTUYEN]    Script Date: 5/24/2023 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNGTUYEN](
	[IDND] [int] NOT NULL,
	[IDBV] [int] NOT NULL,
 CONSTRAINT [PK_QUAN_TAM_BV] PRIMARY KEY CLUSTERED 
(
	[IDND] ASC,
	[IDBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAIVIET] ON 

INSERT [dbo].[BAIVIET] ([ID], [TIEUDE], [NOIDUNG], [NGAYBATDAU], [NGAYKETTHUC], [DIACHI], [EMAILLH], [LOAICV], [SDTLH], [LUOTXEM], [IDND], [IDTT], [MUCLUONG], [VITRI], [IDNGANH], [IDTRINHDO], [SOLUONGTUYEN], [NAMKINHNGHIEM], [KHUVUC], [TENCT]) VALUES (3, N'Tuyển nhân sự Nhà hàng', N'Text text', CAST(N'2023-05-12' AS Date), CAST(N'2023-05-20' AS Date), N'97 Man thiện, TP.Thủ Đức', N'Example@gamil.com', N'Part Time', N'01234567890', 4, 8, 2, 5000000.0000, N'Phục vụ', 17, 4, 10, 0, N'TP.HCM', N'Nhà Hàng ABC')
INSERT [dbo].[BAIVIET] ([ID], [TIEUDE], [NOIDUNG], [NGAYBATDAU], [NGAYKETTHUC], [DIACHI], [EMAILLH], [LOAICV], [SDTLH], [LUOTXEM], [IDND], [IDTT], [MUCLUONG], [VITRI], [IDNGANH], [IDTRINHDO], [SOLUONGTUYEN], [NAMKINHNGHIEM], [KHUVUC], [TENCT]) VALUES (4, N'Tuyển nhân sự Nhà hàng', N'Text text', CAST(N'2023-05-12' AS Date), CAST(N'2023-05-20' AS Date), N'97 Man thiện, TP.Thủ Đức', N'Example@gamil.com', N'Part Time', N'01234567890', 0, 8, 2, 5000000.0000, N'Phục vụ', 17, 4, 10, 0, N'Hà Nội', N'Nhà Hàng XYZ')
INSERT [dbo].[BAIVIET] ([ID], [TIEUDE], [NOIDUNG], [NGAYBATDAU], [NGAYKETTHUC], [DIACHI], [EMAILLH], [LOAICV], [SDTLH], [LUOTXEM], [IDND], [IDTT], [MUCLUONG], [VITRI], [IDNGANH], [IDTRINHDO], [SOLUONGTUYEN], [NAMKINHNGHIEM], [KHUVUC], [TENCT]) VALUES (5, N'Lập trình viên FullStack', N'Lập trình java
Lập trình js, html5 , css3
Cấu hình server', CAST(N'2023-05-13' AS Date), CAST(N'2023-05-31' AS Date), N'Khu công nghệ cao , TP,Thủ Đức', N'Example@gmail.com', N'Full Time + Part time', N'0938432234', 1, 10, 2, 23000000.0000, N'Lập trình viên', 2, 1, 5, 3, N'TP.HCM', N'Công ty công nghệ MyTech')
SET IDENTITY_INSERT [dbo].[BAIVIET] OFF
GO
SET IDENTITY_INSERT [dbo].[HO_SO_ND] ON 

INSERT [dbo].[HO_SO_ND] ([ID], [NOIDUNGMOTA], [IDND], [IDNGANH], [IDTRINHDO]) VALUES (1, N'TOEIC 800
Có 2 năm kinh nghiệm trong lĩnh vực phần mềm', 11, 2, 1)
SET IDENTITY_INSERT [dbo].[HO_SO_ND] OFF
GO
SET IDENTITY_INSERT [dbo].[NGANH] ON 

INSERT [dbo].[NGANH] ([ID], [NOIDUNG]) VALUES (1, N'Kinh doang / bán hàng')
INSERT [dbo].[NGANH] ([ID], [NOIDUNG]) VALUES (2, N'Công nghệ thông tin')
INSERT [dbo].[NGANH] ([ID], [NOIDUNG]) VALUES (3, N'Hành chính / Văn phòng ')
SET IDENTITY_INSERT [dbo].[NGANH] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([ID], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [CMND], [EMAIL], [SDT]) VALUES (8, N'Nguyễn Thanh', N'Huy', 1, N'Khánh Hòa', CAST(N'2002-04-06' AS Date), N'123293231213', N'kalariitme@gmail.com', N'0932328723')
INSERT [dbo].[NGUOIDUNG] ([ID], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [CMND], [EMAIL], [SDT]) VALUES (9, N'Nguyễn', N'Huy', 1, N'TP.Hồ Chí Minh', CAST(N'2002-02-01' AS Date), N'123232323233', N'n20dccn106@student.ptithcm.edu.vn', N'0983321233')
INSERT [dbo].[NGUOIDUNG] ([ID], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [CMND], [EMAIL], [SDT]) VALUES (10, N'Nguyễn Văn', N'Tùng', 1, N'Đường 234, Ngõ ABC, TP.HCM', CAST(N'2000-03-12' AS Date), N'989428310092', N'Example@gmail.com', N'0938432234')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'A', N'Admin')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'B', N'Tuyển dụng')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'C', N'Tìm việc')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [IDND], [MAQUYEN], [TRANGTHAI]) VALUES (N'HuyADMIN', N'$2a$10$Ozn8MjCTwlHJOZDEnRB6CefNaifT.a4Ogs5QTYltQl3SfPI8JAq9C', 9, N'A', 1)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [IDND], [MAQUYEN], [TRANGTHAI]) VALUES (N'HuyASC', N'$2a$10$6KnyCYC2mAURvPr894qL6eaGMoDpJ5IkgEkKFyOrSzIAl5QP5UTny', 8, N'B', 1)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [IDND], [MAQUYEN], [TRANGTHAI]) VALUES (N'JobSeekerTest', N'$2a$10$xu.PFDn0yzU6l656Pel2MuS.jYkxg3s/xMM1QhO3UHnGgNov0pZHC', 11, N'C', 1)
GO
SET IDENTITY_INSERT [dbo].[TRANGTHAIBV] ON 

INSERT [dbo].[TRANGTHAIBV] ([ID], [TENTRANGTHAI]) VALUES (1, N'Chờ duyệt')
INSERT [dbo].[TRANGTHAIBV] ([ID], [TENTRANGTHAI]) VALUES (2, N'Khả dụng')
INSERT [dbo].[TRANGTHAIBV] ([ID], [TENTRANGTHAI]) VALUES (3, N'Không được duyệt')
SET IDENTITY_INSERT [dbo].[TRANGTHAIBV] OFF
GO
SET IDENTITY_INSERT [dbo].[TRINHDO] ON 

INSERT [dbo].[TRINHDO] ([ID], [NOIDUNG]) VALUES (1, N'Đại học')
INSERT [dbo].[TRINHDO] ([ID], [NOIDUNG]) VALUES (2, N'Cao đẳng')
INSERT [dbo].[TRINHDO] ([ID], [NOIDUNG]) VALUES (3, N'Phổ thông')
SET IDENTITY_INSERT [dbo].[TRINHDO] OFF
GO
INSERT [dbo].[UNGTUYEN] ([IDND], [IDBV]) VALUES (11, 6)
GO
/****** Object:  Index [UK_HO_SO_ND]    Script Date: 5/24/2023 3:14:43 PM ******/
ALTER TABLE [dbo].[HO_SO_ND] ADD  CONSTRAINT [UK_HO_SO_ND] UNIQUE NONCLUSTERED 
(
	[IDND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CMND]    Script Date: 5/24/2023 3:14:43 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [UK_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_TAIKHOAN]    Script Date: 5/24/2023 3:14:43 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UK_TAIKHOAN] UNIQUE NONCLUSTERED 
(
	[IDND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIVIET] ADD  CONSTRAINT [DF_BAIVIET_LUOTXEM]  DEFAULT ((0)) FOR [LUOTXEM]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_NGANH] FOREIGN KEY([IDNGANH])
REFERENCES [dbo].[NGANH] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_NGANH]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_NGUOIDUNG]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_TRANGTHAIBV] FOREIGN KEY([IDTT])
REFERENCES [dbo].[TRANGTHAIBV] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_TRANGTHAIBV]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_TRINHDO] FOREIGN KEY([IDTRINHDO])
REFERENCES [dbo].[TRINHDO] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_TRINHDO]
GO
ALTER TABLE [dbo].[HO_SO_ND]  WITH CHECK ADD  CONSTRAINT [FK_HO_SO_ND_NGANH] FOREIGN KEY([IDNGANH])
REFERENCES [dbo].[NGANH] ([ID])
GO
ALTER TABLE [dbo].[HO_SO_ND] CHECK CONSTRAINT [FK_HO_SO_ND_NGANH]
GO
ALTER TABLE [dbo].[HO_SO_ND]  WITH CHECK ADD  CONSTRAINT [FK_HO_SO_ND_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[HO_SO_ND] CHECK CONSTRAINT [FK_HO_SO_ND_NGUOIDUNG]
GO
ALTER TABLE [dbo].[HO_SO_ND]  WITH CHECK ADD  CONSTRAINT [FK_HO_SO_ND_TRINHDO] FOREIGN KEY([IDTRINHDO])
REFERENCES [dbo].[TRINHDO] ([ID])
GO
ALTER TABLE [dbo].[HO_SO_ND] CHECK CONSTRAINT [FK_HO_SO_ND_TRINHDO]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[UNGTUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_TAM_BV_BAIVIET] FOREIGN KEY([IDBV])
REFERENCES [dbo].[BAIVIET] ([ID])
GO
ALTER TABLE [dbo].[UNGTUYEN] CHECK CONSTRAINT [FK_QUAN_TAM_BV_BAIVIET]
GO
ALTER TABLE [dbo].[UNGTUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_TAM_BV_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[UNGTUYEN] CHECK CONSTRAINT [FK_QUAN_TAM_BV_NGUOIDUNG]
GO
USE [master]
GO
