USE [master]
GO
/****** Object:  Database [TKViecLam]    Script Date: 5/5/2023 7:01:03 PM ******/
CREATE DATABASE [TKViecLam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TKViecLam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TKViecLam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TKViecLam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TKViecLam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TKViecLam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TKViecLam]
GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [ntext] NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[EMAILLH] [nvarchar](70) NOT NULL,
	[SDTLH] [nvarchar](12) NOT NULL,
	[LUOTXEM] [int] NOT NULL,
	[IDND] [int] NOT NULL,
	[IDTT] [int] NOT NULL,
 CONSTRAINT [PK_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNGBAOCAO] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BAOCAO]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAOCAO](
	[IDBC] [int] NOT NULL,
	[IDND] [int] NOT NULL,
	[IDBV] [int] NOT NULL,
 CONSTRAINT [PK_CT_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[IDBC] ASC,
	[IDND] ASC,
	[IDBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_LOAICV]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LOAICV](
	[IDBV] [int] NOT NULL,
	[IDLCV] [int] NOT NULL,
 CONSTRAINT [PK_CT_LOAICV] PRIMARY KEY CLUSTERED 
(
	[IDBV] ASC,
	[IDLCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HO_SO_ND]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HO_SO_ND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNGMOTA] [text] NULL,
	[IDND] [int] NULL,
 CONSTRAINT [PK_HO_SO_ND] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_HO_SO_ND] UNIQUE NONCLUSTERED 
(
	[IDND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICV]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOAICV] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LOAICV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](20) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](70) NOT NULL,
	[SDT] [nvarchar](12) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_TAM_BV]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_TAM_BV](
	[IDND] [int] NOT NULL,
	[IDBV] [int] NOT NULL,
 CONSTRAINT [PK_QUAN_TAM_BV] PRIMARY KEY CLUSTERED 
(
	[IDND] ASC,
	[IDBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[IDND] [int] NOT NULL,
	[MAQUYEN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TAIKHOAN] UNIQUE NONCLUSTERED 
(
	[IDND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIBV]    Script Date: 5/5/2023 7:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIBV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTRANGTHAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TRANGTHAIBV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIVIET] ADD  CONSTRAINT [DF_BAIVIET_LUOTXEM]  DEFAULT ((0)) FOR [LUOTXEM]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_NGUOIDUNG]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_TRANGTHAIBV] FOREIGN KEY([IDTT])
REFERENCES [dbo].[TRANGTHAIBV] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_TRANGTHAIBV]
GO
ALTER TABLE [dbo].[CT_BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAOCAO_BAIVIET] FOREIGN KEY([IDBV])
REFERENCES [dbo].[BAIVIET] ([ID])
GO
ALTER TABLE [dbo].[CT_BAOCAO] CHECK CONSTRAINT [FK_CT_BAOCAO_BAIVIET]
GO
ALTER TABLE [dbo].[CT_BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAOCAO_BAOCAO] FOREIGN KEY([IDBC])
REFERENCES [dbo].[BAOCAO] ([ID])
GO
ALTER TABLE [dbo].[CT_BAOCAO] CHECK CONSTRAINT [FK_CT_BAOCAO_BAOCAO]
GO
ALTER TABLE [dbo].[CT_BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAOCAO_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[CT_BAOCAO] CHECK CONSTRAINT [FK_CT_BAOCAO_NGUOIDUNG]
GO
ALTER TABLE [dbo].[CT_LOAICV]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOAICV_BAIVIET] FOREIGN KEY([IDBV])
REFERENCES [dbo].[BAIVIET] ([ID])
GO
ALTER TABLE [dbo].[CT_LOAICV] CHECK CONSTRAINT [FK_CT_LOAICV_BAIVIET]
GO
ALTER TABLE [dbo].[CT_LOAICV]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOAICV_LOAICV] FOREIGN KEY([IDLCV])
REFERENCES [dbo].[LOAICV] ([ID])
GO
ALTER TABLE [dbo].[CT_LOAICV] CHECK CONSTRAINT [FK_CT_LOAICV_LOAICV]
GO
ALTER TABLE [dbo].[HO_SO_ND]  WITH CHECK ADD  CONSTRAINT [FK_HO_SO_ND_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[HO_SO_ND] CHECK CONSTRAINT [FK_HO_SO_ND_NGUOIDUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_TAIKHOAN] FOREIGN KEY([ID])
REFERENCES [dbo].[TAIKHOAN] ([IDND])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_TAIKHOAN]
GO
ALTER TABLE [dbo].[QUAN_TAM_BV]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_TAM_BV_BAIVIET] FOREIGN KEY([IDBV])
REFERENCES [dbo].[BAIVIET] ([ID])
GO
ALTER TABLE [dbo].[QUAN_TAM_BV] CHECK CONSTRAINT [FK_QUAN_TAM_BV_BAIVIET]
GO
ALTER TABLE [dbo].[QUAN_TAM_BV]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_TAM_BV_NGUOIDUNG] FOREIGN KEY([IDND])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[QUAN_TAM_BV] CHECK CONSTRAINT [FK_QUAN_TAM_BV_NGUOIDUNG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
USE [master]
GO
