@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;600;700&display=swap');


 * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
 }

 label {
   font-size: 20px;
   font-weight: 500;
   margin-right: 20px;
   font-weight: 500px;
 }

.contain {
   width: 100%;
   height: 750px;
   position: relative;
   background-color: #ddeedf;
   box-shadow: 2px 10px 2px 1px rgba(0, 0, 0, 0.2)
}

.contain-header {
   width: 100%;
   padding-top: 50px;
   font-size: xx-large;
   text-align: center;
   font-weight: 900;
   color: #333;
}

input {
    border: solid 1px #333;
}

 .form-register {
    margin-top: 50px;
   width: 700px;
   height: 500px;
   position: absolute;
   background-color: #F9F9F9;;
   border-radius: 8px;
   top: 10%;
   left: 27%;
 }
 .form-register-ho {
   position: absolute;
   top: 10%;
   left: 10%;
   display: inline-block;
 }
.form-register-input-ho {
   width: 200px;
   height: 25px;
   font-size: 16px;
   border-radius: 5px;
   padding-left: 10px;
}

 .form-register-ten {
   position: absolute;
   top: 10%;
   left: 60%;
   display: inline-block;
 }
.form-register-input-ten{
   width: 120px;
   height: 25px;
   font-size: 16px;
   border-radius: 5px;
   padding-left: 10px;
}

 .form-register-gioitinh {
   position: absolute;
   top: 20%;
   left: 10%;
   display: inline-block;
 }
.form-register-gioitinh-select {
   width: 100px;
   height: 25px;
   border-radius: 5px;
   padding-left: 5px;

}
 
 .form-register-ngaysinh {
   position: absolute;
   top: 20%;
   left: 50%;
   display: inline-block;
 }
.form-register-input-ngaysinh {
   width: 150px;
   height: 25px;
   border-radius: 5px;
   padding-left: 5px;
}


 .form-register-sdt {
   position: absolute;
   top: 30%;
   left: 10%;
 }
.form-register-input-sdt {
   width: 170px;
   height: 25px;
   border-radius: 5px;
   padding-left: 10px;
}

 .form-register-cmnd {
   position: absolute;
   top: 40%;
   left: 10%;
 }
 .form-register-input-cmnd {
   width: 170px;
   height: 25px;
   border-radius: 5px;
   padding-left: 10px;
 }

 .form-register-dichi {
   position: absolute;
   top: 50%;
   left: 10%;
 }

.form-register-input-diachi {
   width: 500px;
   height: 25px;
   border-radius: 5px;
   padding-left: 10px;
}

 .form-register-email {
   position: absolute;
   top: 60%;
   left: 10%;
 }

.form-register-input-email {
   width: 300px;
   height: 25px;
   border-radius: 5px;
   padding-left: 10px;
}

 .form-register-role {
   position: absolute;
   top: 70%;
   left: 10%;
 }
 .form-register-role-select {
   width: 200px;
   height: 25px;
   border-radius: 5px;
   padding-left: 5px;
 }
 .form-register-submit {
   position: absolute;
   color: #333;
   width: 150px;
   height: 50px;
   top: 85%;
   left: 40%;
   border-radius: 10px;
   border: none;
   font-size: 20px;
   background-color: #F1D3B3;
 }
 .form-register-submit:hover {
   background-color: #576F72;
   color: #fff;
   cursor: pointer;
 }