#search-id {
	border-radius: 30px;
	width: 310px;
	margin-top: 20px;
}

.table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

.table-header, .table-data {
    border: 1px solid #ddd;
    padding: 12px;
}

.table-wrap {
    padding-top: 40px;
    width: 100%;
}

.table-header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #393e46;
    color: #fff;
}
.search-table {
    position: absolute;
    width: 30%;
    height: 25px;
    font-size: 16px;
    padding-left: 10px;
    right: 5px;
    top: 10px;
}
.table-wrap a {
	display: block;
	width: 100px;
	height: 30px;
	background: #fa9856;
	text-align: center;
	line-height: 30px;
	border-radius: 20px;
	color: #333;
}

.table-wrap a:visited {
	color: #fff;
}